@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');

/* LOGIN FORM */
.footer {
     font-family: 'Poppins';
     font-style: bold;
}
.section-authentication-signin {
	height: 100vh
}