/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  
}

/* AUTH */
.wrapper {
     z-index: 1;
}
.custom-rounded {
     border-radius: 15px 15px 15px 15px !important; 
 }
.footer {
     font-family: 'Poppins';
     font-style: bold;
}
.label {
     font-family: 'Poppins';
     font-style: bold;
}
#particles-js{
     background-color: rgb(255, 255, 255);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}

/* SIDEBAR  */
.sidebar{
     position: fixed;
     left: 0;
     top: 0;
     height: 100%;
     width: 78px;
     background: #000000;
     padding: 6px 14px;
     z-index: 99;
     transition: all 0.5s ease;
   }
   .sidebar.open{
     width: 250px;
   }
   .sidebar .logo-details{
     height: 40px;
     display: flex;
     align-items: center;
     position: relative;
   }
   .sidebar .logo-details .icon{
     opacity: 0;
     transition: all 0.5s ease;
   }
   .sidebar .logo-details .logo_name{
     color: #fff;
     font-size: 20px;
     font-weight: 600;
     opacity: 0;
     transition: all 0.5s ease;
   }
   .sidebar.open .logo-details .icon,
   .sidebar.open .logo-details .logo_name{
     opacity: 1;
   }
   .sidebar .logo-details #btn{
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-20%);
     font-size: 22px;
     transition: all 0.4s ease;
     font-size: 23px;
     text-align: center;
     cursor: pointer;
     transition: all 0.5s ease;
   }
   .sidebar.open .logo-details #btn{
     text-align: right;
   }
   .sidebar i{
     color: #fff;
     height: 60px;
     min-width: 50px;
     font-size: 28px;
     text-align: center;
     line-height: 60px;
     
     
   }
   .sidebar .nav-list{
     margin-top: 20px;
     height: 100%;
     overflow-y: auto;    
   }
   .sidebar li{
     position: relative;
     margin: 8px 0;
     list-style: none;
   }
   .sidebar li .tooltip{
     position: absolute;
     top: -20px;
     left: calc(100% + 15px);
     z-index: 3;
     background: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
     padding: 6px 12px;
     border-radius: 4px;
     font-size: 15px;
     font-weight: 400;
     opacity: 0;
     white-space: nowrap;
     pointer-events: none;
     transition: 0s;
   }
   .sidebar li:hover .tooltip{
     opacity: 1;
     pointer-events: auto;
     transition: all 0.4s ease;
     top: 50%;
     transform: translateY(-50%);
   }
   .sidebar.open li .tooltip{
     display: none;
   }
   .sidebar input{
     font-size: 15px;
     color: #FFF;
     font-weight: 400;
     outline: none;
     height: 50px;
     width: 100%;
     width: 50px;
     border: none;
     border-radius: 12px;
     transition: all 0.5s ease;
     background: #100f1a;
   }
   .sidebar.open input{
     padding: 0 20px 0 50px;
     width: 100%;
   }
   .sidebar .bx-search{
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     font-size: 22px;
     background: #09090f;
     color: #FFF;
   }
   .sidebar.open .bx-search:hover{
     background: #0b0b13;
     color: #FFF;
   }
   .sidebar .bx-search:hover{
     background: #FFF;
     color: #0d0c14;
   }
   .sidebar li a{
     display: flex;
     height: 100%;
     width: 100%;
     border-radius: 12px;
     align-items: center;
     text-decoration: none;
     transition: all 0.4s ease;
     background: #08070d;
   }
   .sidebar li a .links_name{
     color: #ffffff;
     font-size: 15px;
     font-weight: 400;
     white-space: nowrap;
     opacity: 0;
     pointer-events: none;
     transition: 0.4s;
   }
   .sidebar.open li a .links_name{
     opacity: 1;
     pointer-events: auto;
   }
   .sidebar li a:hover .links_name,
   .sidebar li a:hover i{
     transition: all 0.5s ease;
     color: #6c6c6c;
   }
   .sidebar li i{
     height: 50px;
     line-height: 50px;
     font-size: 18px;
     border-radius: 12px;
   }
   .sidebar li.profile{
     position: fixed;
     height: 60px;
     width: 78px;
     left: 0;
     bottom: -8px;
     padding: 10px 14px;
     background: #0e0d18;
     transition: all 0.5s ease;
     overflow: hidden;
   }
   .sidebar.open li.profile{
     width: 250px;
   }
   .sidebar li .profile-details{
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
   }
   .sidebar li img{
     height: 45px;
     width: 45px;
     object-fit: cover;
     border-radius: 6px;
     margin-right: 10px;
   }
   .sidebar li.profile .name,
   .sidebar li.profile .job{
     font-size: 15px;
     font-weight: 400;
     color: #fff;
     white-space: nowrap;
   }
   .sidebar li.profile .job{
     font-size: 12px;
   }
   .sidebar .profile #log_out{
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
     background: #0e0e18;
     width: 100%;
     height: 60px;
     line-height: 60px;
     border-radius: 0px;
     transition: all 0.5s ease;
   }
   .sidebar.open .profile #log_out{
     width: 50px;
     background: none;
   }
   .sidebar .profile #setting{
    position: absolute; 
    top: 50%; 
    right: 40px; 
    transform: translateY(-50%);
    background: #0e0e18;
    
   }
   .sidebar.open .profile #setting{
     width: 50px;
     background: none;
   }
   .home-section{
     position: relative;
     background: #E4E9F7;
     min-height: 100vh;
     top: 0;
     left: 78px;
     width: calc(100% - 78px);
     transition: all 0.5s ease;
     z-index: 2;
   }
   .home-section .btn.btn-dark {
    font-size: 12px;
    padding: 8px 12px;
  }
   .sidebar.open ~ .home-section{
     left: 250px;
     width: calc(100% - 250px);
   }
   .home-section .text{
     display: inline-block;
     color: #11101d;
     font-size: 25px;
     font-weight: 500;
     margin: 18px;
     text-align: center !important;
    
   }


   @media (max-width: 420px) {
     .sidebar li .tooltip{
       display: none;
     }
   }

.sidebar.open ~ .home-section .btn.btn-dark {
  font-size: 12px;
  padding: 8px 12px;
}


.sidebar.open ~ .home-section input[type="text"].form-control {
  font-size: 14px;
  height: 40px;
}

.sidebar.open ~ .home-section .bx-search {
  font-size: 18px;
}

.sidebar.open ~ .home-section .btn.btn-white {
  font-size: 14px;
  padding: 8px 12px;
}

.sidebar.open ~ .home-section .dropdown-menu.dropdown-menu-start i {
  font-size: 18px;
}

.sidebar.open ~ .home-section .tooltip {
  display: none;
}

@media (max-width: 768px) {
  .sidebar.open ~ .home-section .text {
      font-size: 20px;
      margin: 12px;
  }

  .sidebar.open ~ .home-section .btn.btn-dark.custom-rounded {
      font-size: 12px;
      padding: 6px 10px;
  }

  .sidebar.open ~ .home-section input[type="number"].form-control {
      font-size: 12px;
      height: 36px;
  }

  .sidebar.open ~ .home-section select.form-select {
      font-size: 12px;
      height: 36px;
  }
}

   .product-show {
    font-size: 18px;
    left: 12px;
    top: 20px;
  }
  
  .product-discount {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 14px;
    background-color: #0e0e18;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
  }
  
  .color-indigator-item {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #e6e0e0;
    border-radius: 50%;
    cursor: pointer
  }
  
  .product-grid .card {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
  }
  
  @media (min-width:992px) {
    .product-grid .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      -webkit-box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .3);
      box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .3)
    }
  }

  .btn i {
    vertical-align: middle;
    font-size: 1rem;
    margin-top: -1em;
    margin-bottom: -0.9em;
    /* margin-right: 5px */
  }
  .cursor-pointer {
    cursor: pointer
  }

  .dropdown-toggle-nocaret:after {
    display: none
  }

  .dropdown-item:hover {
    background-color: #0b0d0f; 
    color: #ffffff; 
}


.zoomable {
  cursor: zoom-in; 
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.zoomable:hover {
  transform: scale(1.2); 
}

.small-font {
  font-size: small;
}

#invoice {
	padding: 0
}

.invoice {
	position: relative;
	background-color: #fff;
	min-height: 1000px;
	padding: 15px
}

.invoice header {
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #0e0e18
}

.invoice .company-details {
	text-align: right
}

.invoice .company-details .name {
	margin-top: 0;
	margin-bottom: 0
}

.invoice .contacts {
	margin-bottom: 20px
}

.invoice .invoice-to {
	text-align: left
}

.invoice .invoice-to .to {
	margin-top: 0;
	margin-bottom: 0
}

.invoice .invoice-details {
	text-align: right
}

.invoice .invoice-details .invoice-id {
	margin-top: 0;
	color: #0e0e18
}

.invoice main {
	padding-bottom: 50px
}

.invoice main .thanks {
	margin-top: 60px;
	font-size: 2em;
  text-align: center;
	margin-bottom: 50px
}


.invoice main .notices .notice {
	font-size: 1.2em
}

.invoice table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px
}

.invoice table td,
.invoice table th {
	padding: 15px;
	background: #eee;
	border-bottom: 1px solid #fff
}

.invoice table th {
	white-space: nowrap;
	font-weight: 400;
	font-size: 16px
}

.invoice table td h2 {
	margin: 0;
	font-weight: 600;
	color: #0e0e18;
	font-size: 1.5em
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
	text-align: right;
	font-size: 1.2em
}

.invoice table .no {
	color: #fff;
	font-size: 1em;
	background: #0e0e18
}

.invoice table .unit {
	background: #ddd
}

.invoice table .total {
	background: #0e0e18;
	color: #fff
}

.invoice table tbody tr:last-child td {
	border: none
}

.invoice table tfoot td {
	background: 0 0;
	border-bottom: none;
	white-space: nowrap;
	text-align: right;
	padding: 10px 20px;
	font-size: 1.2em;
	border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
	border-top: none
}

.invoice table tfoot tr:last-child td {
	color: #0e0e18;
	font-size: 1.4em;
	border-top: 1px solid #0e0e18
}

.invoice table tfoot tr td:first-child {
	border: none
}

.invoice .footer {
	width: 100%;
	text-align: center;
	color: #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

@media print {
  .invoice {
      font-size: 11px!important;
      overflow: hidden!important;
      width: 210mm; 
      height: 148mm; 
  }
  .invoice footer {
      position: absolute;
      bottom: 10px;
      page-break-after: always;
  }
  .invoice>div:last-child {
      page-break-before: always;
  }

}


@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important;
        width: 210mm; 
        height: 148mm; 
    }
    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always;
    }
    .invoice>div:last-child {
        page-break-before: always;
    }
}

.invoice {
    position: relative;
    background-color: #fff;
    width: 210mm; 
    height: 148mm; 
    padding: 15px;
    margin: 0 auto; 
}

.font-35 {
	font-size: 35px
}





  