@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');

/* LOGIN FORM */
.footer {
     font-family: 'Poppins';
     font-style: bold;
}

.label {
     font-family: 'Poppins';
     font-style: bold;
}

.background-image {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 105%;
     z-index: -1;
     /* background-image: url('../img/pages/bg4.png'); */
     background-size: cover;
 
 }
